body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    color: white; /* Ensure text is readable against the background */
}

.navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.day-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.day-button.active, .day-button:hover {
    background-color: #0056b3;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.agenda {
    text-align: left;
}

.agenda h1 {
    color: #0047ab;
    font-size: 50px;
    margin-bottom: 20px;
}

.agenda ul {
    list-style-type: none;
    padding: 0;
}

.agenda li {
    font-size: 20px;
    margin: 20px 0;
}

.qr-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 10px; /* Adjust this value to move the QR code up or down */
}

.qr-section img {
    width: 200px;
    height: 200px;
}

.qr-section p {
    margin: 20px 0;
}


.register-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.register-button:hover {
    background-color: #0056b3;
}
