body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

.containerp {
    text-align: center;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.partners {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    justify-items: center;
}

.partner-logo {
    width: 200px;
    height: 200px;
    background-color: #ccc;
    border-radius: 70%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .partners {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .partners {
        grid-template-columns: 1fr;
    }
    .partner-logo {
        width: 100px;
        height: 100px;
    }
}
